parameters:
  resourcespace_api:
    url: ''
    username: ''
    key: ''

  image_types:
    hpr (High resolution print): hpr
    lpr (Low resolution print): lpr
    scr (Screen): scr
    pre (Preview): pre
    thm (Thumbnail): thm
    thu (Thumbnail for Usage): thu

  csv_fields:
    Vervaardiger: creator
    Licentie: license

  tms_filefinder_fields:
    Inventarisnummer: inventorynumber
    Titel: title
    TMS Object ID: tmsobjectid
    TMS Objectnummer: tmsobjectnumber
    TMS Objectnaam: tmsobjectname

  # OmekaSSCsvController will loop over these fields (top to bottom) until a match is found
  # Only one of these columns need to be present in a CSV
  omeka_s_csv_fields:
    Identifier Group - Value: tmsobjectid
    identifier (MODS): inventorynumber

  # 0 = live assets (the default)
  # 1 = pending archive
  # 2 = archived
  # 3 = deleted
  # -1 = pending review
  # -2 = pending submission.
  tms_filefinder_pending: '0,1,2,-1,-2'

  # How many results are allowed per search query before showing a confirmation button (in tms_filefinder)
  filefinder_max_results: 1000
  # How many results are allowed per search query before omitting this search in the CSV tool
  csv_max_results: 100
