<!DOCTYPE html>
<html>
    <head>
        <title>Omeka-S CSV import generator</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Omeka-S CSV generator</h1>
        <p>Genereer een CSV om in Omeka-S te importeren die ResourceSpace afbeeldingen bevat.<br>
            Opgelet: het kan verschillende minuten duren eer dit een resultaat teruggeeft, afhankelijk van de grootte van de opgeladen CSV.<br>
            Dit kan tot 5 minuten duren per 1000 records in het CSV-bestand.<br>
            Per rij moet namelijk een ResourceSpace API call uitgevoerd worden.
        </p>
        <p>Extra ResourceSpace velden om toe te voegen aan de CSV:</p>
        <table id="resourcespace_fields">
            <tr>
                <th>CSV label</th>
                <th>ResourceSpace veld shorthand</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
        </table>
        {{ form(form) }}
    </body>
</html>
